@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

:root {
    --news-ticker-height: 10vh;
}

body {
    margin: 0px;
}

#news-ticker {
    height: var(--news-ticker-height);
    font-size: 5vw;
    vertical-align: middle;
    font-family: bytesized, sans-serif;
}

#featured {
    display: flex;
    justify-content: space-evenly;
}

.featured-item {
    width: 50vw;
    height: 100vh;
    transition: background-color 0.5s, text-shadow 0.5s;
}

.featured-item-txt {
    margin: 10vh 0;
    color:bisque;
    text-align: center;
    font-family: sans-serif;
    font-size: 8vw;
}

#sanctuary {
    background-color:darkslategray;
}

#sanctuary:hover {
    background-color:darkcyan;
    text-shadow: 2px 2px 5px bisque;
}

#shop {
    background-color:firebrick;
}

#shop:hover {
    background-color:tomato;
    text-shadow: 2px 2px 5px bisque;
}

#other-work {
    border-style: solid none none none;
    border-width: 10vh;
    margin-top: 10vh;
    height: 10vh;
}